$mobile-break: 480px; // small break upper limit
$tablet-break: 1024px; // medium break upper limit

$base-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$alt-font: "Times New Roman", Times, Baskerville, Georgia, serif;

$link-color: #277f9c;

$base-font-px-size: 14;
$base-font-size: 14px;
$base-line-height: 18px;

$image-spacing: 10px;